@font-face {
    font-family: lele;
    src: url(./fonst/TT\ Commons\ Black.otf);
}

@font-face {
    font-family: light;
    src: url(./fonst/TT\ Commons\ Light.otf);
}

@font-face {
    font-family: demi;
    src: url(./fonst/TT\ Commons\ DemiBold.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

// main for locomotive
main {
    width: 100%;
}

// navigation
nav {
    cursor: pointer;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // background-color: whitesmoke;


    img {
        width: 80%;
    }

    .nav-part1 {
        a {
            text-decoration: none;
            color: black;

            h4 {
                font-size: 1.5rem;
                text-align: center;
                padding-top: 1rem;
                font-family: light;
            }

        }
    }

}

// hero page 
.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    #main-part1 {
        width: 100%;

        .text {
            width: 100%;
            display: flex;
            flex-direction: column;
            font-family: light;
            padding-top: 3rem;
            align-items: center;
            gap: 1rem;
            text-align: center;

            h2 {
                font-family: lele;
                font-size: 2rem !important;
            }

            p {
                font-size: 1.5rem !important;
            }

            button {
                padding: 1rem 2.5rem;
                width: 60%;
                border: 2px solid #b33735;
                background-color: white;
                color: #b33735;
                border-radius: 10px;
            }

        }

    }

    #main-part2 {
        width: 100%;

        img {
            width: 100%;
            object-fit: cover;
        }

    }

}

// main-working page
.main-page2 {
    font-family: lele;
    text-align: center;
    padding-top: 2rem;

    h2 {
        font-size: 1.9rem;
    }

    p {
        font-size: 1.5rem;
        font-family: demi;
    }

    .main-page2-part2 {
        width: 100%;
        display: flex;
        font-family: demi;
        flex-direction: column;
        padding: 3rem;
        gap: 2rem;

        .main-box {
            width: 100%;
            padding: 2rem;
            border: 2px solid #b33735;

            .main-section {
                display: flex;
                gap: 1rem;
                align-items: center;

                img {
                    width: 20%;
                }

            }

            p {
                width: 100%;
                font-family: light;
                font-size: 1.2rem;
                text-align: left;
                padding-top: 0.9rem;
            }
        }

    }

}

.main-page3 {
    width: 100%;
    font-family: lele;
    text-align: center;

    p {
        font-family: light;
        font-size: 1.3rem;
    }

    .features-div {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        gap: 2rem;
    }

    .feature-box {
        padding: 1rem;
    }

    #feature-box1 {
        background-color: #5FDBBA;

        img {
            border-radius: 50%;
        }

        p {
            font-family: light;
        }

    }

    #feature-box2 {
        background-color: #93D6F2;

        img {
            border-radius: 50%;
        }

        p {
            font-family: light;
        }

    }

    #feature-box3 {
        background-color: #FC9290;

        img {
            border-radius: 50%;
        }

        p {
            font-family: light;
        }
    }

    #feature-box4 {
        background-color: #B2E388;

        img {
            border-radius: 50%;
        }

        p {
            font-family: light;
        }
    }

    #feature-box5 {
        background-color: #FFB379;

        img {
            border-radius: 50%;
        }

        p {
            font-family: light;
        }
    }

}

.main-page4 {
    width: 100%;
    font-family: lele;
    text-align: center;

    h2 {
        font-size: 2rem;
    }

    p {
        font-family: light;
        font-size: 1.2rem;
    }

    .page4-main-part {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 2rem;
        padding: 1rem;

        .page4-part1 {
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }

        .page4-part2 {
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }

        #page4-box1 {
            background-color: #5FDBBA;
        }

        #page4-box2 {
            background-color: #B4E2F6;
        }

        #page4-box3 {
            background-color: #B2E388;
        }

        #page4-box4 {
            background-color: #FFB379;
        }

        .page4-box {
            padding: 2rem;
            display: flex;
            text-align: left;
            flex-direction: column;
            border-radius: 10px;

            .text {
                padding-top: 1rem;

                h3 {
                    padding-top: 1rem;
                }

                p {
                    padding-top: 1rem;
                }

                h4 {
                    padding-top: 2rem;
                }
            }
        }

    }
}

.main-page5 {
    width: 100%;
    text-align: center;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .page5-box {
        width: 100%;
        padding: 2rem;
        background-color: #F0FBF7;
        position: relative;

        img {
            width: 100%;
        }

        p {
            font-family: light;
            text-align: left;
            font-size: 1.2rem;
        }

        .quotes {
            position: absolute;
            z-index: 2;
            width: 10%;
            top: 10.5rem;
            left: 1rem;
        }
    }

}

.main-page6 {
    width: 100%;
    text-align: center;
    font-family: lele;
    padding: 2rem;

    h3 {
        font-size: 1.5rem;
    }

    #main-page6 {
        display: flex;
        flex-direction: column;
        margin-top: 3rem;

        .page6-images {
            display: flex;
            flex-direction: row;

            img {
                width: 50%;
            }
        }
    }
}

footer {
    background-color: whitesmoke;
    width: 100%;
    margin-top: 3rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    font-family: lele;

    .footer-main {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 2rem;

        .footer-box {
            h3 {
                font-size: 1.2rem;
            }

            h5 {
                font-size: 1rem;
                font-family: light;
                margin-top: 0.7rem;
            }

            h2 {
                font-size: 1.1rem;
                font-family: light;
            }
        }

    }
}

// --------------------------------------------- about-us ------------------------------------------

main {
    width: 100%;
}

.about-page1 {
    width: 100%;

    .about-main {
        width: 100%;
        padding: 2rem;
        display: flex;
        flex-direction: column !important;
        gap: 2rem;

        .about-part1 {
            width: 100%;

            img {
                width: 100%;
            }
        }

        .about-part2 {
            width: 100%;
            font-family: lele;
            text-align: center;
            font-size: 1.1rem;

            p {
                font-family: light;
                padding-top: 1rem;
                font-size: 1.1rem;
            }

            button {
                font-size: 1rem;
            }
        }
    }

}

.about-page2 {
    width: 100%;
    padding: 1rem;
    text-align: center;
    font-family: light;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    h1 {
        font-family: lele;
    }
}

.about-page3 {
    width: 100%;
    padding: 1.5rem;
    background-color: #F0FBF7;
    margin-top: 3rem;

    .about-main3 {
        display: flex;
        flex-direction: column;

        .page3-part1 {
            width: 100%;

            img {
                width: 100%;

            }
        }

        .page3-part2 {
            width: 100%;
            font-family: light;

            h1 {
                font-family: lele;
            }

            p {
                font-size: 1.2rem;
                padding-top: 1rem;
            }
        }
    }
}

.about-page4 {
    padding: 2rem;

    .page4-part1 {
        width: 100%;

        h3 {
            font-size: 2rem;
            font-family: lele;
        }

        h5 {
            font-size: 1rem;
            font-family: light;
            padding-top: 0.5rem;
        }
    }

    .page4-part2 {
        width: 100%;
        margin-top: 2rem;

        img {
            width: 100%;
        }
    }
}

// ---------------------------------------------career page -----------------------------------

@media screen and (min-width:900px) {

    // main for locomotive
    main {
        width: 100%;
    }

    // navigation

    nav {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        padding: 1rem 1rem;
        background: linear-gradient(whitesmoke);
        position: sticky;
        top: 0;

        img {
            width: 15%;
        }

        .nav-part1 {
            display: flex;
            flex-direction: row;
            gap: 4.4rem;

            h4 {
                // font-weight: 300 !important;
                font-family: light !important;

            }

        }
    }

    // hero page 

    .main {
        display: flex;
        flex-direction: row;
        // justify-content: space-between;
        padding-top: 6rem;

        #main-part1 {
            width: 60%;
            // background-color: red;
            padding: 0rem 1.5rem;

            .text {

                h2 {
                    font-size: 4rem !important;
                    text-align: left;
                }

                p {
                    font-size: 3rem !important;
                    text-align: left;
                }

                button {
                    width: 30%;

                }
            }

        }

        #main-part2 {
            width: 60%;
        }


    }

    // main-working page
    .main-page2 {
        width: 100%;
        background-color: #F4FAEF;
        margin-top: 5rem;

        h2 {
            font-size: 3rem;
        }

        p {
            font-size: 1.6rem;
            font-weight: 300;
        }

        .main-page2-part2 {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

            .main-box {
                width: 30%;
            }
        }

    }

    .main-page3 {
        width: 100%;
        margin-top: 5rem;

        h2 {
            font-size: 3rem;
        }

        p {
            font-family: 2rem;
        }

        .features-div {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            margin-top: 4rem;
        }

        .feature-box {
            width: 20%;
            height: 10rem;
        }

    }

    .main-page4 {
        width: 100%;
        margin-top: 3rem;

        h2 {
            font-size: 3rem;
        }

        p {
            font-size: 1.3rem;
        }

        .page4-main-part {
            display: flex;
            flex-direction: row;
            width: 100%;
            justify-content: space-between;
            margin-top: 3rem;

            .page4-part1 {
                width: 45%;
                display: flex;
                align-items: end;
                gap: 2rem;

                .page4-box {
                    width: 70%;
                }

            }

            .page4-part2 {
                width: 45%;
                display: flex;
                align-items: start;
                gap: 2rem;

                .page4-box {
                    width: 70%;
                }

                #page4-box4 {
                    img {
                        width: 80%;
                    }
                }
            }

        }
    }

    .main-page5 {
        width: 100%;
        display: flex;
        flex-direction: row;

        h2 {
            display: none;
        }
    }

    .main-page6 {
        width: 100%;

        h3 {
            font-size: 2rem;
        }

        #main-page6 {
            display: flex;
            flex-direction: row;
            justify-content: center;

            .page6-images {
                width: 25%;

            }
        }
    }

    footer {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .footer-main {
            width: 70%;
            display: flex;
            flex-direction: row;
            gap: 10rem;

        }
    }


    // --------------------------------------------- about-us ------------------------------------------

    .about-page1 {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .about-main {
            width: 80%;
            // background-color: red;
            margin-top: 4rem;
            display: flex;
            flex-direction: row-reverse !important;

            .about-part2 {

                text-align: left;

                h1 {
                    font-size: 3rem;
                }

                p {
                    font-size: 1.5rem;
                }
            }
        }
    }

    .about-page2 {
        width: 100%;
        padding: 4rem 20rem;
        text-align: left;

        h1 {
            text-align: center;
        }

        p {
            font-size: 1.3rem;
        }
    }

    .about-page3 {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .about-main3 {
            width: 80%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .page3-part1 {

                // background-color: red;
                img {
                    width: 80%;
                }
            }

            .page3-part2 {
                display: flex;
                flex-direction: column;
                gap: 0.7rem;

                h1 {
                    font-size: 3rem;
                }
            }
        }
    }

    .about-page4 {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 5rem;

        .page4-main {
            width: 80%;
            display: flex;
            flex-direction: row;
            align-items: center;

            .page4-part1 {
                h3 {
                    font-size: 3rem;
                }

                h5 {
                    font-size: 1.3rem !important;
                }
            }

        }
    }

    // ---------------------------------------------career page -----------------------------------


}

.hidden {
    opacity: 0;
    transform: translateY(30px);
    transition: all 0.8s ease-out;
}

.show {
    opacity: 1;
    transform: translateY(0);
}